.text{
    width: 70%;
    padding-right: 3rem;
}
.text__title{
    color: aliceblue;
    font-weight: 500;
    font-size: 2.8rem;
}

.text__paragraph{
    color: aliceblue;
    line-height: 1.5rem;
    padding-top: 1.2rem;
    width: 80%;
}

@media screen and (max-width: 375px) {
    .text{
        text-align: center;
        margin-top: 100vh;
        margin-bottom: 3rem;
        padding-right: 0;
        width: 100%;
    }

    .text__paragraph{
        width: 100%;
    }
}