body{
    background: var(--red) !important;
    background-image: url("../../images/bg-intro-desktop.png") !important;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 375px) {
    .body{
        background-image: url("../../images/bg-intro-mobile.png");
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}