.main{
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    margin: 0.1rem auto;
    width: 80%;
}

@media screen and (max-width:375px) {
    .main{
        flex-direction: column;
        height: 100vh;
        margin-bottom: 90vh;
        padding-bottom: 2rem;
    }
}